<h3>Kent Farms is a local farm here in Smallville Kansas that mostly does Dairy and Cow products</h3>
<p>Kent Farms prides itself on the quality of its products. If we don't grow it here locally we work with other small farms around the globe to import those foods for you. We make sure that all of our farms are small independent farms so that we can help each other and keep local farmers in business, not only here in Kansas, but around the globe.
<%= image_tag ("kent_farm.jpg"), class: "img-responsive" %>
<p>Address:</p>
<p>1234 Hickory Lane</p>
<p>Smallville, Kansas 66605</p>

<div id="dccomics">
  <p>Clark Kent, Superman, and other referenced DC comics characters are copyrights of Warner Media. They are used in this project for entertainment and educational purposes.</p>
</div>

